<div class="input-group mb-3">
    <h5>Ingrese Articulo</h5>
    <div class="input-group-prepend">
        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" name="ipees" [(ngModel)]="art">
        <button class="btn btn-outline-secondary" type="button" (click)="buscarArt()">Aceptar</button>
    </div>
</div>
<div class="col-md-3 col-sm-4 col-12 prod " *ngFor="let producto of productos">
    <div class="ordenador card">
    <div class="controlador-imagen"><img src="{{producto.image.url}}" class="card-img-top" alt="..."></div>
    <div class="card-body">
        <button type="button" class="boton-carrito btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="mostrarAsin('{{producto.asin}}')">{{producto.asin}}</button>
      <p class="card-text">{{producto.image.description}}!</p>
    </div>
  </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Carrito</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="modal-ul">

          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
        </div>
      </div>
    </div>
  </div>